In [1]:
import pandas as pd

In [ ]:
#find out average rating on weekly basis keep this is mind that they take two days weekoff
#total working days of each agents
#total query that you've taken
#total feedback you received
#agent name whho has average rating between 3.5 to 4
#agent name who has rating less than 3.5
#agent nasme wh has ating more than 4.5
#average weekly resolution time for each agent
#list of all agents name
#percentage of chat in which they received a feedback
#total contribution hour for each and every agent on weekly basis

#total percentage active hours for a month

In [20]:
df_per=pd.read_csv('C:\\Users\\prash\\Downloads\\AgentPerformance (2).csv')
df1_log=pd.read_csv("C:\\Users\\prash\\Downloads\\AgentLogingReport (1).csv")

In [21]:
df_per

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [37]:
#df_per['Date']=pd.to_datetime(df_per['Date'])
#df_per.set_index('Date',inplace=True)
df_per.head(20)

,SL No,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
Date,,,,,,,
7/30/2022,1,Prerna Singh,11,0:00:38,0:04:20,4.11,9
7/30/2022,2,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
7/30/2022,3,Ameya Jain,14,0:00:30,0:11:36,4.55,11
7/30/2022,4,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
7/30/2022,5,Swati,14,0:01:11,0:16:33,3.67,6
7/30/2022,6,Mukesh,9,0:00:34,0:15:34,4.62,8
7/30/2022,7,Saikumarreddy N,15,0:00:31,0:11:09,5.00,12
7/30/2022,8,Sanjeev Kumar,12,0:00:55,0:20:43,5.00,6
7/30/2022,9,Shubham Sharma,13,0:01:31,0:25:10,4.38,8
7/30/2022,10,Nishtha Jain,20,0:00:59,0:13:31,4.12,16
7/30/2022,11,Manjunatha A,11,0:00:47,0:42:56,3.60,5
7/30/2022,12,Khushboo Priya,20,0:01:32,0:21:35,4.43,14
7/30/2022,13,Suraj S Bilgi,20,0:01:21,0:31:26,4.36,11
7/30/2022,14,Harikrishnan Shaji,13,0:00:42,0:25:49,4.57,7
7/30/2022,15,Hrisikesh Neogi,28,0:01:24,0:26:57,4.30,20
7/30/2022,16,Shivan K,18,0:01:13,0:15:42,4.17,12
7/30/2022,17,Sowmiya Sivakumar,21,0:00:51,0:16:24,4.75,16
7/30/2022,18,Madhulika G,22,0:01:13,0:27:54,4.25,12
7/30/2022,19,Mithun S,23,0:00:42,0:10:15,4.05,20
7/30/2022,20,Hitesh Choudhary,0,0:00:00,0:00:00,0.00,0

In [95]:
#df_per.set_index('Date', inplace=True)
weekly_data = df_per.resample('W-SAT')['Average Rating'].mean()
weekly_data

Date
2022-07-02    1.026319
2022-07-09    1.349325
2022-07-16    1.524167
2022-07-23    1.493155
2022-07-30    1.601389
Freq: W-SAT, Name: Average Rating, dtype: float64

In [47]:
df_per=pd.read_csv('C:\\Users\\prash\\Downloads\\AgentPerformance (2).csv')
df_per.groupby('Agent Name')['Date'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: Date, Length: 70, dtype: int64

In [52]:
##total query that you've taken
df_per.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [51]:
##total feedback you received
df_per.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [58]:
#agent name whho has average rating between 3.5 to 4

df_per[(df_per['Average Rating']>3.5) & (df_per['Average Rating']<4)]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
10,11,7/30/2022,Manjunatha A,11,0:00:47,0:42:56,3.60,5
76,77,7/29/2022,Prateek _iot,8,0:00:36,0:10:41,3.75,4
78,79,7/29/2022,Nandani Gupta,24,0:01:24,0:28:53,3.79,14
80,81,7/29/2022,Jaydeep Dixit,27,0:00:52,0:24:13,3.95,22
...,...,...,...,...,...,...,...,...
1869,1870,7/5/2022,Boktiar Ahmed Bappy,24,0:00:53,0:09:53,3.78,18
1874,1875,7/4/2022,Ayushi Mishra,29,0:01:11,0:17:59,3.80,20
1941,1942,7/4/2022,Jawala Prakash,6,0:00:44,0:02:28,3.80,5
2021,2022,7/2/2022,Aditya Shinde,57,0:01:26,0:19:52,3.54,28
2023,2024,7/2/2022,Deepranjan Gupta,52,0:01:10,0:35:14,3.71,24

In [63]:
##agent name who has rating less than 3.5
df_per[df_per['Average Rating']<3.5]['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

In [64]:
#agent nasme wh has ating more than 4.5
df_per[df_per['Average Rating']>4.5]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

In [84]:
#average weekly resolution time for each agent
#df_per['Date']=pd.to_datetime(df_per['Date'])
df_per.set_index('Date',inplace=True)

In [86]:
df_per['Average Resolution Time'] = pd.to_timedelta(df_per['Average Resolution Time'])

In [90]:
df_per['weekly_avg_resolution_time']=df_per.resample('W-SAT')['Average Resolution Time'].mean()

,SL No,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,weekly_avg_resolution_time
Date,,,,,,,,
2022-07-30,1,Prerna Singh,11,0:00:38,0 days 00:04:20,4.11,9,0 days 00:07:03.630952380
2022-07-30,2,Nandani Gupta,11,0:01:15,0 days 00:28:25,3.14,7,0 days 00:07:03.630952380
2022-07-30,3,Ameya Jain,14,0:00:30,0 days 00:11:36,4.55,11,0 days 00:07:03.630952380
2022-07-30,4,Mahesh Sarade,14,0:01:04,0 days 00:15:46,4.71,7,0 days 00:07:03.630952380
2022-07-30,5,Swati,14,0:01:11,0 days 00:16:33,3.67,6,0 days 00:07:03.630952380
...,...,...,...,...,...,...,...,...
2022-07-01,2156,Sowmiya Sivakumar,0,0:00:00,0 days 00:00:00,0.00,0,NaT
2022-07-01,2157,Nitin M,0,0:00:00,0 days 00:00:00,0.00,0,NaT
2022-07-01,2158,Vivek,0,0:00:00,0 days 00:00:00,0.00,0,NaT
2022-07-01,2159,Ayushi Mishra,0,0:00:00,0 days 00:00:00,0.00,0,NaT
2022-07-01,2160,Chaitra K Hiremath,0,0:00:00,0 days 00:00:00,0.00,0,NaT

In [104]:
#list of all agents name

df_per['Agent Name']

Date
2022-07-30          Prerna Singh
2022-07-30         Nandani Gupta
2022-07-30            Ameya Jain
2022-07-30         Mahesh Sarade
2022-07-30                Swati
                     ...
2022-07-01     Sowmiya Sivakumar
2022-07-01               Nitin M
2022-07-01                Vivek
2022-07-01         Ayushi Mishra
2022-07-01    Chaitra K Hiremath
Name: Agent Name, Length: 2160, dtype: object

In [ ]:
##percentage of chat in which they received a feedback

In [116]:
df_per['Percentage Feedback']=df_per.apply(lambda i:(i['Total Feedback']/i['Total Chats'])*100 if i['Total Chats']>0 else 0,axis=1)
df_per[['Agent Name','Percentage Feedback']]

                    Agent Name  Percentage Feedback
Date
2022-07-30        Prerna Singh            81.818182
2022-07-30       Nandani Gupta            63.636364
2022-07-30          Ameya Jain            78.571429
2022-07-30       Mahesh Sarade            50.000000
2022-07-30              Swati             42.857143
...                        ...                  ...
2022-07-01   Sowmiya Sivakumar             0.000000
2022-07-01             Nitin M             0.000000
2022-07-01              Vivek              0.000000
2022-07-01       Ayushi Mishra             0.000000
2022-07-01  Chaitra K Hiremath             0.000000

[2160 rows x 2 columns]

In [117]:
##total contribution hour for each and every agent on weekly basis
df1

     SL No               Agent       Date Login Time Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39   02:04:10
1        2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16   00:00:17
2        3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35   00:45:06
4        5              Mukesh  30-Jul-22   14:03:15    15:11:52   01:08:36
..     ...                 ...        ...        ...         ...        ...
995    996        Manjunatha A  20-Jul-22   09:03:51    15:02:28   05:58:37
996    997             Bharath  20-Jul-22   09:00:49    15:01:32   06:00:43
997    998      Khushboo Priya  20-Jul-22   08:59:20    14:26:55   05:27:34
998    999        Nishtha Jain  20-Jul-22   08:43:55    14:00:33   05:16:38
999   1000               Tarun  01-Jul-22   01:52:47    12:01:07  514:08:20

[1000 rows x 6 columns]

In [124]:
df1['Date']=pd.to_datetime(df1['Date'])
df1['week']=df1['Date'].dt.week

C:\Users\prash\AppData\Local\Temp\ipykernel_10644\603121239.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df1['week']=df1['Date'].dt.week

In [128]:
df1['Login Time']=pd.to_datetime(df1['Login Time'])
df1['Logout Time']=pd.to_datetime(df1['Logout Time'])

In [135]:


df1.groupby([df1['Agent'],df1['Date'].dt.week])['Duration'].sum()

C:\Users\prash\AppData\Local\Temp\ipykernel_10644\3410587355.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df1.groupby([df1['Agent'],df1['Date'].dt.week])['Duration'].sum()

Agent          Date
Aditya Shinde  30                                               00:02:10
Aditya_iot     29                               01:57:3102:06:4602:01:26
               30       02:12:0500:49:4600:04:2002:14:4301:57:4702:19:28
Amersh         30                       00:02:4002:54:5200:05:2900:00:49
Ameya Jain     29      00:44:4000:07:2404:01:1001:57:5906:00:5704:37:...
                                             ...
Tarun          26                                              514:08:20
Wasim          29      00:00:5500:02:0005:32:3000:05:3006:03:0000:00:...
               30      07:19:5000:02:2006:12:0705:24:0500:01:5003:45:...
Zeeshan        29       06:05:2700:01:0200:27:4205:39:2606:08:5106:03:11
               30                       06:12:5006:03:1206:03:0106:20:37
Name: Duration, Length: 89, dtype: object